/* 데스크탑 기본 글자 크기 */
body{
  font-size:1.4rem;
}
.container{
  justify-content: center;
}

/* 데스크탑 헤더 */

/* 공통헤더 */
.appHeader{
  grid-template: ;
  /* grid-template-rows:1fr 1fr;50% 50% 도 가능 */
}
.brand{
  grid-row: 1/3;
  
}
.memberOnly{
  grid-column: 3/4;
  
}
.memberOnly li{
  float:left
}
.searchform{
  grid-column: 2/4;
  grid-row:2/3;
}

/* 데스크탑 내비게이션 */
.appNavigation{
  width:100%;
}
/* 데스크탑 헤더 */
.appHeader{
  grid-template: repeat(2,50px)/repeat(2,1fr);
  align-items: center;
}
/* 데스크탑 브랜드 */
.brand{
  grid-area:1/1/3/2;
}
/* 데스크탑 멤버 링크 */
.memberOnly{
  grid-area:1/2/2/3;
}
/* 데스크탑 검색폼 */
.searchForm{
  display: grid;
  grid-area:2/2/3/3;
  grid-template-columns:1fr auto ;
  grid-gap:10px;
  /* text-align: right; */

  /* align-content: flex-start; */
}
.searchForm fieldset{
  display: contents;
}
input[type="search"]{
  /* grid-column: 1/2*/

}
.buttonSearch{
  border:1px solid #aaa;
  border-radius: 5px;
  padding:2px 10px;
  color:#fff;
  background-color:#988574;
  /* grid-column:2/3 ; */
  /* max-width:70px; */
}

/* 공용 레이아웃 */
.appHeader,.appMain,.menu__list{
  /*   max-width: 1800px;
     min-width: 1000px; */
     min-width: 1000px;
     max-width:1800px;
     width:78.125%;
  }
  
/* 데스크탑 내비게이션 */
.appNavigation{
  background-color:#988574;
  box-shadow: 0 -2px 2px 0 #ccc, 0 2px 2px 0 #ccc;

}
.buttonBurger{
  display: none;
}

.menu__list{
  margin-left:auto;
  margin-right:auto;
  padding-top:20px;
  padding-bottom:10px;
  display:grid;
  grid-template: auto/repeat(5,1fr);
  /* grid-template-columns:(10,1fr); */
  grid-gap:20px;
  color:#fff;
}
/* 
.menu__list li:nth-child(){
} */
.menu__link{
  font-size:1.6rem;
  font-weight: 700;
  text-shadow: 1px 1px 0 #000,-1px -1px 0 #000;
}

.menu__subMenu li{
  margin-top:10px;
  margin-bottom:10px;
  font-size:1.5rem;
}


/* 데스크탑 메인 콘텐츠 */
.appMain{
  display: grid;
  grid-template: auto/repeat(12, 1fr);
  grid-gap:20px;
  padding-top:20px;
  padding-bottom:20px;
}


/* 데스크탑 추천 서적 */
.book{grid-area:1/1/2/span 4;
}
.book__cover,.news [class*="__videoContainer"] {
  margin-left: 40px;
  margin-right: 40px;
}
/* 데스크탑 새소식 */
.news{grid-area: 1/5/2/span 8;
}
/* 데스크탑 게시판 */
.board{
  grid-area: 2/1/3/span 4;
}
/* 데스크탑 인기사이트 */
.favorite{
  grid-area:2/10/3/span 3;
}
/* li에 하지 않은 이유-tab키를 눌렀을 때 focus가 되지 않아서
focus되게 해주려면 tab-index="0" attr넣어줘야함 */
.favorite__list a:hover::before,
.favorite__list a:focus::before{
  right:-10px;
}
/* 데스크탑 트위터 */
.twitter{
  grid-area:2/5/3/span 5;
}

/* .book__cover{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  text-align: center;
  padding:0 50px
}
.book__cover .responsive{
  vertical-align: middle;
  max-width: 100%;
  height:auto;
  margin-bottom:20px;
}
.book__info{
  margin:0;
  padding:0;
  margin-top:10px;
  text-align: center;

}
.book__info dt,.book__info dd{
  margin:0;
  padding:0;

}
.book__info dt:nth-child(1),
.book__info dd:nth-child(2){
  display: inline-block;
}
.book__info dd span{
  display: inline-block;
  border:1px solid blue;
} */

/* 데스크탑 푸터 */
.appFooter{
}