/* 모바일 기본 글자 크기 */
body{
  font-size:1.5rem;
}
/* 모바일 공용레이아웃 */
.appHeader,.appMain{
  width:100%;
}
/* 모바일 헤더 */
.appHeader{
  grid-template: auto/1fr;
  align-items: center;
  background-color: #38302e;
}
.brand,.memberOnly,.searchForm{
  padding:10px 20px;
}
/* 모바일 브랜드 */
.brand *{ /* .brand a,.brand img*/
  display: block;
}
/* 모바일 링크 모음 */
.memberOnly{
  order:-1;
  background-color: #988574;
  color:#fff;
  padding:10px 20px;
  /* display: flex;
  flex-flow: row nowrap; 공용코드로 옮김 */ 
}
/* 모바일 검색 폼 */
input[type="search"]{
  width:calc(100% - 45px);/* 인라인 태그 사이에 enter가 공백영역으로 작용되어
  정교하게 하기위해선 fieldset에 font-size:0, input bottom에 각각 font-size를 주면됨 */
  margin-right:5px;

}
.buttonSearch{
  width:35px;
  height:35px;
  border:0;
  padding:0;
  position: relative;
  background-color:transparent;/* button agent style reset */
  
}
.buttonSearch::after{
  content: "";
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background:transparent url(./images/btn_search.png) 0 0 no-repeat scroll;
  background-size: cover;
}
/* 모바일 내비게이션 */
.appNavigation{
  position: fixed;
  left:0;
  top:0;
  width:70vw;/* 뷰포트 가로너비 70% */
  height:100vh;
  transform: translateX(-100%);/* 원래상태로 돌리려면 값을 0 */

}
/* 모바일 메인 콘텐츠 */
.appMain{
}
/* 모바일 푸터 */
.appFooter{

}