/* 모바일 기본 글자 크기 */
body{
  font-size:1.5rem;
}
/* 모바일 공용레이아웃 */
.appHeader,.appMain{
  width:100%;
}
/* 모바일 헤더 */
.appHeader{
  grid-template: auto/1fr;
  align-items: center;
  background-color: #38302e;
}
.brand,.memberOnly,.searchForm{
  padding:10px 20px;
}
/* 모바일 브랜드 */
.brand *{ /* .brand a,.brand img*/
  display: block;
}
/* 모바일 링크 모음 */
.memberOnly{
  order:-1;
  background-color: #988574;
  color:#fff;
  padding:10px 20px;
  /* display: flex;
  flex-flow: row nowrap; 공용코드로 옮김 */ 
}
/* 모바일 검색 폼 */
input[type="search"]{
  width:calc(100% - 45px);/* 인라인 태그 사이에 enter가 공백영역으로 작용되어
  정교하게 하기위해선 fieldset에 font-size:0, input bottom에 각각 font-size를 주면됨 */
  margin-right:5px;

}
.buttonSearch{
  width:35px;
  height:35px;
  border:0;
  padding:0;
  position: relative;
  background-color:transparent;/* button agent style reset */
  
}
.buttonSearch::after{
  content: "";
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background:transparent url(./images/btn_search.png) 0 0 no-repeat scroll;
  background-size: cover;
}
/* 모바일 내비게이션 */
/* 모바일 메뉴 제어 버튼 */
.buttonBurger{
  width:35px;
  height:35px;
  font-size: 0;
  text-align: center;
  position: absolute;
  top:60px;
  right:20px;
  overflow: hidden;
}
.burgerBar{
  position: absolute;
  left:0;
  cursor: pointer;
  width:100%;
  height:20%;
  background-color:#fff;
  transition: all 200ms ease-in-out;
}
.round{
 border-radius: 20px;
}
.positionTop{
  top:0px
}
.positionMiddle{
  top:50%;
  transform:translateY(-50%);
}
.positionBottom{
  top:100%;
  transform: translateY(-100%);/* bottom:0으로 배치하지 않는 이유는 애니메이션을 줘서 x 모양으로 만들건데 시작점이 bottom인 상태에서 궤적을 조절하기 어렵기 때문에 */
}
.isAct .positionTop{
  transform:translateY(-50%) rotate(45deg);
  top:50%;
}

.isAct .positionMiddle{
  transform:translateY(-50%) translateX(-100%);
  
}
.isAct .positionBottom{
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
}
.menu__list{
  position: fixed;
  left:0;
  top:0;
  width:70vw;/* 뷰포트 가로너비 70% */
  height:100vh;
  transform: translateX(-105%);/* 원래상태로 돌리려면 값을 0 */
  z-index: 999;
  color:#fff;
  background:rgba(57, 48, 46, 0.66);
  backdrop-filter: blur(3px);
  padding:20px;
}
/* .menu__item{
  display: flex;
  flex-flow: row nowrap;
} */

.menu__link{
  font-size:1.7rem;
  font-weight: 700;
  margin-bottom:20px;/* 마진 중복생겨서 수치를 더 키웠음 flex도 적용안됨*/
  display: inline-block;
  width:calc(100% - 1.5em);
}
.menu__subMenu{
  width:100%;
  font-size:1.6rem;
  display: none;
}
.menu_subMenu li{
  margin:10px 0;
}
.menu__subMenu a{
  display: block;
  padding:5px 0;
}
.menuAct .menu__subMenu{
  display: block;
}

.isAct .menu__list{
  transform:none;
}
/* 모바일 메인 콘텐츠 */
.appMain{
  display: flex;
  flex-flow:row wrap;
  padding:0 20px;
}
.book,.news,.board,.favorite,.twitter{
  width:100%;
  height:10vh;
}
/* 모바일 푸터 */
.appFooter{

}